In [1]:
print("hello world")

hello world

In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\users\ducat\appdata\local\programs\python\python311\lib\site-packages (1.5.3)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\ducat\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\ducat\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in c:\users\ducat\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.24.1)
Requirement already satisfied: six>=1.5 in c:\users\ducat\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

[notice] A new release of pip available: 22.3.1 -> 23.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import pandas as pd

In [5]:
df=pd.read_csv("project_sal.csv")

In [6]:
df

    YearsExperience  Projects  Salary
0               1.1         1   39343
1               1.3         2   46205
2               1.5         1   37731
3               2.0         2   43525
4               2.2         1   39891
5               2.9         4   56642
6               3.0         4   60150
7               3.2         3   54445
8               3.2         5   64445
9               3.7         2   57189
10              3.9         4   63218
11              4.0         7   55794
12              4.0         8   56957
13              4.1         8   57081
14              4.5         9   61111
15              4.9        10   67938
16              5.1         8   66029
17              5.3        11   83088
18              5.9         9   81363
19              6.0        12   93940
20              6.8         6   91738
21              7.1         7   98273
22              7.9        11  101302
23              8.2         6  113812
24              8.7         5  109431
25              9.0         5  105582
26              9.5         6  116969
27              9.6         8  112635
28             10.3        10  122391
29             10.5        11  121872
30             11.2         4  127345
31             11.5         8  126756
32             12.3         7  128765
33             12.9         5  135675
34             13.5         9  139465

In [10]:
X=df.iloc[:,:-1].values    # this is feature matrix

In [16]:
y=df.iloc[:,-1].values   #target

In [17]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\ducat\appdata\local\programs\python\python311\lib\site-packages (1.2.0)
Requirement already satisfied: numpy>=1.17.3 in c:\users\ducat\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.24.1)
Requirement already satisfied: scipy>=1.3.2 in c:\users\ducat\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.10.0)
Requirement already satisfied: joblib>=1.1.1 in c:\users\ducat\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\ducat\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (3.1.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [18]:
from sklearn.linear_model import LinearRegression

In [19]:
model=LinearRegression()       #

In [20]:
model.fit(X,y)

LinearRegression()

In [21]:
model.predict([[3,3]])

array([54426.57824778])

In [22]:
model.predict([[4,3]])

array([63019.94233865])

In [23]:
model.predict([[4,4]])

array([63353.75110712])

In [24]:
model.coef_

array([8593.36409087,  333.80876847])

In [25]:
model.intercept_

27645.05966978035

In [26]:
# y=m1x1+m2x2+c
8593.36409087*4+333.80876847*4+27645.05966978035

63353.75110714035

In [27]:
df

    YearsExperience  Projects  Salary
0               1.1         1   39343
1               1.3         2   46205
2               1.5         1   37731
3               2.0         2   43525
4               2.2         1   39891
5               2.9         4   56642
6               3.0         4   60150
7               3.2         3   54445
8               3.2         5   64445
9               3.7         2   57189
10              3.9         4   63218
11              4.0         7   55794
12              4.0         8   56957
13              4.1         8   57081
14              4.5         9   61111
15              4.9        10   67938
16              5.1         8   66029
17              5.3        11   83088
18              5.9         9   81363
19              6.0        12   93940
20              6.8         6   91738
21              7.1         7   98273
22              7.9        11  101302
23              8.2         6  113812
24              8.7         5  109431
25              9.0         5  105582
26              9.5         6  116969
27              9.6         8  112635
28             10.3        10  122391
29             10.5        11  121872
30             11.2         4  127345
31             11.5         8  126756
32             12.3         7  128765
33             12.9         5  135675
34             13.5         9  139465

In [28]:
# 1.1	1	39343
model.predict([[1.1,1]])

array([37431.5689382])

In [29]:
# KNN:

In [30]:
df1=pd.read_excel("fruit.xlsx")

In [31]:
df1

   width  height Fruitname
0     20      18     Apple
1     21      22     Apple
2     12      11     Apple
3     43      34     Apple
4     32      15     Apple
5      5      50    Banana
6      2      10    Banana
7      3      18    Banana
8     10      15    Banana
9      1      10    Banana

In [32]:
X1=df1.iloc[:,:-1].values

In [34]:
X1

array([[20, 18],
       [21, 22],
       [12, 11],
       [43, 34],
       [32, 15],
       [ 5, 50],
       [ 2, 10],
       [ 3, 18],
       [10, 15],
       [ 1, 10]], dtype=int64)

In [35]:
y1=df1.iloc[:,-1].values

In [36]:
y1

array(['Apple', 'Apple', 'Apple', 'Apple', 'Apple', 'Banana', 'Banana',
       'Banana', 'Banana', 'Banana'], dtype=object)

In [37]:
from sklearn.neighbors import KNeighborsClassifier

In [38]:
model1=KNeighborsClassifier()

In [39]:
model1.fit(X1,y1)

KNeighborsClassifier()

In [41]:
model1.predict([[2.343,10.232]])

array(['Banana'], dtype=object)

In [44]:
y1_pred=model1.predict(X1)
y1_pred

array(['Apple', 'Apple', 'Banana', 'Apple', 'Apple', 'Banana', 'Banana',
       'Banana', 'Banana', 'Banana'], dtype=object)

In [43]:
y1

array(['Apple', 'Apple', 'Apple', 'Apple', 'Apple', 'Banana', 'Banana',
       'Banana', 'Banana', 'Banana'], dtype=object)

In [45]:
from sklearn.metrics import accuracy_score

In [46]:
accuracy_score(y1_pred,y1)

0.9

In [1]:
# KNN--> KNeighborsClassifier
# X --> Feature
# y --> Target
# model --> model.fit(X,y)
# prediction --> y1_pred
# accuracy_score

In [2]:
#Create training dataset 
#create testing dataset
#train_test_split
# Confusion Matrix --> Binary class confusion matrix and multiclass confusion matrix
# Precision score
# Recall Score 
# F1 Score
# Classfication report

In [3]:
import pandas as pd

In [8]:
df=pd.read_csv("Fruit_dataset_10000.csv")
df

            name  diameter  weight
0         orange      2.96   86.76
1         orange      3.91   88.05
2         orange      4.42   95.17
3         orange      4.47   95.60
4         orange      4.48   95.76
...          ...       ...     ...
9995  grapefruit     15.35  253.89
9996  grapefruit     15.41  254.67
9997  grapefruit     15.59  256.50
9998  grapefruit     15.92  260.14
9999  grapefruit     16.45  261.51

[10000 rows x 3 columns]

In [9]:
#split into feature X, target y
X=df.iloc[0::1,1::1].values

In [10]:
y=df.iloc[0::1,0].values

In [11]:
y

array(['orange', 'orange', 'orange', ..., 'grapefruit', 'grapefruit',
       'grapefruit'], dtype=object)

In [21]:
#Create training dataset  75%
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,y)

#create testing dataset   25%

In [23]:
len(X_train)

7500

In [24]:
len(y_train)

7500

In [27]:
df['name'].value_counts().index

Index(['orange', 'grapefruit'], dtype='object')

In [28]:
from sklearn.neighbors import KNeighborsClassifier

In [29]:
model =KNeighborsClassifier()

In [30]:
model.fit(X_train,y_train)

KNeighborsClassifier()

In [33]:
y_pred=model.predict(X_train)

In [32]:
from sklearn.metrics import accuracy_score

In [34]:
accuracy_score(y_train,y_pred)

0.9770666666666666

In [35]:
X_test

array([[  6.99, 131.25],
       [  9.04, 161.31],
       [ 10.05, 176.59],
       ...,
       [ 11.47, 197.71],
       [  8.37, 150.9 ],
       [  9.69, 169.41]])

In [36]:
len(X_test)

2500

In [37]:
y_test

array(['orange', 'orange', 'orange', ..., 'grapefruit', 'orange',
       'grapefruit'], dtype=object)

In [38]:
len(y_test)

2500

In [40]:
y_test_pred=model.predict(X_test)

In [41]:
accuracy_score(y_test_pred,y_test)

0.9656

In [42]:
df=pd.read_csv("Fruit_dataset_10000.csv")
#split into feature X, target y
X=df.iloc[0::1,1::1].values
y=df.iloc[0::1,0].values
#Create training dataset  75%
#create testing dataset   25%
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y)

from sklearn.neighbors import KNeighborsClassifier

model =KNeighborsClassifier()
model.fit(X_train,y_train)
y_pred=model.predict(X_train)
from sklearn.metrics import accuracy_score
print("Training score :",accuracy_score(y_train,y_pred))
y_test_pred=model.predict(X_test)
print("Testing accuracy :",accuracy_score(y_test_pred,y_test))

Training score : 0.9781333333333333
Testing accuracy : 0.9672

In [44]:
df=pd.read_csv("Fruit_dataset_10000.csv")
#split into feature X, target y
X=df.iloc[0::1,1::1].values
y=df.iloc[0::1,0].values
#Create training dataset  75%
#create testing dataset   25%
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=42)

from sklearn.neighbors import KNeighborsClassifier

model =KNeighborsClassifier()
model.fit(X_train,y_train)
y_pred=model.predict(X_train)
from sklearn.metrics import accuracy_score
print("Training score :",accuracy_score(y_train,y_pred))
y_test_pred=model.predict(X_test)
print("Testing accuracy :",accuracy_score(y_test_pred,y_test))

Training score : 0.9777333333333333
Testing accuracy : 0.9616

In [45]:
df=pd.read_csv("Fruit_dataset_10000.csv")
#split into feature X, target y
X=df.iloc[0::1,1::1].values
y=df.iloc[0::1,0].values
#Create training dataset  75%
#create testing dataset   25%
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=42)

from sklearn.neighbors import KNeighborsClassifier

model =KNeighborsClassifier()
model.fit(X_train,y_train)
y_pred=model.predict(X_train)
from sklearn.metrics import accuracy_score
print("Training score :",accuracy_score(y_train,y_pred))
y_test_pred=model.predict(X_test)
print("Testing accuracy :",accuracy_score(y_test_pred,y_test))

Training score : 0.9777333333333333
Testing accuracy : 0.9616

In [ ]:
# bias 
# varience
# underfitting 
# overfitting
#Create training dataset 
#create testing dataset
#train_test_split
# Confusion Matrix --> Binary class confusion matrix and multiclass confusion matrix
# Precision score
# Recall Score 
# F1 Score
# Classfication report